@model kaufer_comex.Models.Despacho

@{
	ViewData["Title"] = "Editar Despacho";
}

<div class="container">
	@if (TempData["MensagemErro"] != null)
	{
		<div class="alert alert-danger" role="alert" align="center">
			@TempData["MensagemErro"]
		</div>
	}
	<br />
	<div class="form-group " align="center">
		<h4>Editar Despacho</h4>
	</div>
	<hr />

	<form asp-action="Edit">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="row">
			<input type="hidden" asp-for="ProcessoId" />
			<div class="form-group col-md-4">
				<label asp-for="NumeroDue" class="control-label"></label>
				<input asp-for="NumeroDue" class="form-control" />
				<span asp-validation-for="NumeroDue" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="DataDue" class="control-label"></label>
				<input asp-for="DataDue" class="form-control" />
				<span asp-validation-for="DataDue" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="DataExportacao" class="control-label"></label>
				<input asp-for="DataExportacao" class="form-control" />
				<span asp-validation-for="DataExportacao" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="ConhecimentoEmbarque" class="control-label"></label>
				<input asp-for="ConhecimentoEmbarque" class="form-control" />
				<span asp-validation-for="ConhecimentoEmbarque" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="DataConhecimento" class="control-label"></label>
				<input asp-for="DataConhecimento" class="form-control" />
				<span asp-validation-for="DataConhecimento" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="Tipo" class="control-label"></label>
				<select asp-for="Tipo" class="form-control" asp-items="Html.GetEnumSelectList<Tipo>()"></select>
				<span asp-validation-for="Tipo" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="DataAverbacao" class="control-label"></label>
				<input asp-for="DataAverbacao" class="form-control" />
				<span asp-validation-for="DataAverbacao" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="CodPais" class="control-label"></label>
				<input asp-for="CodPais" class="form-control" />
				<span asp-validation-for="CodPais" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="Parametrizacao" class="control-label"></label>
				<select asp-for="Parametrizacao" class="form-control" asp-items="Html.GetEnumSelectList<Parametrizacao>()"></select>
				<span asp-validation-for="Parametrizacao" class="text-danger"></span>
			</div>
			<div class="form-group " align="center">
				<br />
				<input type="submit" asp-route-ProcessoId="@Model.ProcessoId" value="Editar" class="btn " style=" background-color: #F08433; color: #FFF; width: 100px" />
				<a asp-action="Details" asp-controller="Processos" asp-route-id="@Model.ProcessoId" class="btn btn-dark" style="width: 100px">Voltar</a>
			</div>
		</div>
	</form>
</div>

<div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>
		window.onload = function () {
			var firstInput = document.querySelector("input");
			if (firstInput) {
				firstInput.focus();
			}
		};
	</script>
	}
