@model kaufer_comex.Models.ValorProcesso

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert" align="center">
            @TempData["MensagemErro"]
        </div>
    }
    <br />
    <div class="form-group" align="center">
        <h4>Editar Valores do Processo</h4>
    </div>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <input type="hidden" asp-for="ProcessoId" />
            <div class="form-group col-md-4">
                <label asp-for="Moeda" class="control-label"></label>
                <select asp-for="Moeda" class="form-control" asp-items="Html.GetEnumSelectList<Moeda>()">
                    <option value="">Selecione Moeda</option>
                </select>
                <span asp-validation-for="Moeda" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ValorExw" class="control-label"></label>
                <input asp-for="ValorExw" class="form-control" id="ValorExw" />
                <span asp-validation-for="ValorExw" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ValorFobFca" class="control-label"></label>
                <input asp-for="ValorFobFca" class="form-control" id="ValorFobFca" />
                <span asp-validation-for="ValorFobFca" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="FreteInternacional" class="control-label"></label>
                <input asp-for="FreteInternacional" class="form-control" id="FreteInternacional" />
                <span asp-validation-for="FreteInternacional" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="SeguroInternaciona" class="control-label"></label>
                <input asp-for="SeguroInternaciona" class="form-control" id="SeguroInternacional" />
                <span asp-validation-for="SeguroInternaciona" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ValorTotalCif" class="control-label"></label>
                <input asp-for="ValorTotalCif" id="ValorTotalCif" class="form-control" readonly />
                <span asp-validation-for="ValorTotalCif" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group" align="center">
            <br />
            <input type="submit" value="Editar" asp-route-ProcessoId="@Model.ProcessoId" class="btn" style="background-color: #F08433; color: #FFF; width: 100px" />
            <a asp-action="Details" asp-controller="Processos" asp-route-id="@Model.ProcessoId" class="btn btn-dark" style="width: 100px">Voltar</a>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
        
            $('#ValorExw, #ValorFobFca, #FreteInternacional, #SeguroInternacional').mask('000.000.000,00', { reverse: true });

            function calcularValorTotalCif() {
                var valorExw = parseFloat($('#ValorExw').val().replace(/\./g, '').replace(",", ".")) || 0;
                var valorFobFca = parseFloat($('#ValorFobFca').val().replace(/\./g, '').replace(",", ".")) || 0;
                var freteInternacional = parseFloat($('#FreteInternacional').val().replace(/\./g, '').replace(",", ".")) || 0;
                var seguroInternacional = parseFloat($('#SeguroInternacional').val().replace(/\./g, '').replace(",", ".")) || 0;


                var valorTotalCif = valorExw + valorFobFca + freteInternacional + seguroInternacional;
                $('#ValorTotalCif').val(valorTotalCif.toFixed(2).replace(".", ","));
            }

            calcularValorTotalCif();
            $('#ValorExw, #ValorFobFca, #FreteInternacional, #SeguroInternacional').on('input', function () {
                calcularValorTotalCif();
            });

            // Antes de enviar o formulário
            $('form').on('submit', function () {
                // Substitui virgula por ponto nos valores antes de enviar o formulário
                $('#ValorExw').val($('#ValorExw').val().replace(/\./g, '').replace(",", "."));
                $('#ValorFobFca').val($('#ValorFobFca').val().replace(/\./g, '').replace(",", "."));
                $('#FreteInternacional').val($('#FreteInternacional').val().replace(/\./g, '').replace(",", "."));
                $('#SeguroInternacional').val($('#SeguroInternacional').val().replace(/\./g, '').replace(",", "."));
                $('#ValorTotalCif').val($('#ValorTotalCif').val().replace(/\./g, '').replace(",", "."));
            });
        });
    </script>
}
