@model kaufer_comex.Models.Fronteira

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar fronteira</h1>

<h3>Tem certeza que deseja apagar esse registro?</h3>
<div>
    <h4>Fronteira</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFronteira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFronteira)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-info">Voltar</a>
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
