@model kaufer_comex.Models.Fronteira

@{
	ViewData["Title"] = "Excluir Fronteira";
}

<div>
	<h4>Você tem certeza que deseja excluir a fronteira?</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.NomeFronteira)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NomeFronteira)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Excluir" class="btn " style=" background-color: #82323b; color: #FFF; width: 100px" />
		<a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
	</form>
</div>
