@model kaufer_comex.Models.Fronteira

@{
    ViewData["Title"] = "Editar Fronteira";
}
<div class="container">
<div class="form-group " align="center">
<h4>Editar Fronteira</h4>
</div>
<hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeFronteira" class="control-label"></label>
                <input asp-for="NomeFronteira" class="form-control" />
                <span asp-validation-for="NomeFronteira" class="text-danger"></span>
            </div>
    <div class="form-group " align="center">
        <br />
        <input type="submit" value="Editar" class="btn " style=" background-color:#F08433; color: #FFF; width: 100px" />
        <a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
    </div>
        </form>
    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
