@model kaufer_comex.Models.Fronteira

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar dados da fronteira</h1>

<h4>Fronteira</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeFronteira" class="control-label"></label>
                <input asp-for="NomeFronteira" class="form-control" />
                <span asp-validation-for="NomeFronteira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-info">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
