<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - kaufer_comex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/kaufer_comex.styles.css" asp-append-version="true" />
    <link href="https://cdn.datatables.net/2.0.6/css/dataTables.dataTables.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    @await RenderSectionAsync("Estilos", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Usuarios" asp-action="Login">
                    <img src="/Images/Logo2.png" alt="Logo" width="100" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Processos" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Cadastros
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="AgentedeCargas" asp-action="Index">Agente de Carga</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Despachantes" asp-action="Index">Despachante</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="ExpImps" asp-action="Index">Exportador/Importador</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Destinos" asp-action="Index">Destinos</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Status" asp-action="Index">Status</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Fronteiras" asp-action="Index">Fronteiras</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Vendedores" asp-action="Index">Vendedores</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="CadastroDespesas" asp-action="Index">Despesas</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="FornecedorServicos" asp-action="Index">Fornecedores</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Veiculos" asp-action="Index">Veiculos</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Itens" asp-action="Index">Itens</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Notas" asp-action="Index">Notas</a></li>
                            </ul>
                        </li>
                       @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Processos" asp-action="Index">Processos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Despachos" asp-action="Index">Despachos</a>
                        </li>                      
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ValoresProcessos" asp-action="Index">Valores Processos</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Documentos" asp-action="Index">Documentos</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DCEs" asp-action="Index">DCEs</a>
                        </li>*@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="EmbarqueRodoviarios" asp-action="Index">Embarque Rodoviário</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                        </li>
                        </ul>
                        <ul class="navbar-nav">
                        <li class="nav-item">
                                Olá, @User.Identity.Name <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
                        </li>
                        </ul>
                        }
                        else
                        {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Create">Usuarios</a>
                            </li>
                        </ul>
                        }

                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-center align-items-center text-center">
            &copy; 2024 - Kaüfer Comércio Importação e Exportação Ltda. - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-reset">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/2.0.6/i18n/pt-BR.json"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>
    <script src="https://kit.fontawesome.com/6000a09cd7.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery.mask/jquery.mask.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
