@model kaufer_comex.Models.Documento

@{
	ViewData["Title"] = "Editar Documento";
}
@if (TempData["MensagemErro"] != null)
{
	<div class="alert alert-danger" role="alert" align="center">
		@TempData["MensagemErro"]
	</div>
}
<div class="form-group " align="center">
	<h4>Editar Documento</h4>
</div>
<hr />
<form asp-action="Edit">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="Id" />
	<div class="row">
		<input type="hidden" asp-for="ProcessoId" />
		<div class="form-group col-md-4">
			<label asp-for="CertificadoOrigem" class="control-label"></label>
			<input asp-for="CertificadoOrigem" class="form-control" />
			<span asp-validation-for="CertificadoOrigem" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="CertificadoSeguro" class="control-label"></label>
			<input asp-for="CertificadoSeguro" class="form-control" />
			<span asp-validation-for="CertificadoSeguro" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="DataEnvioOrigem" class="control-label"></label>
			<input asp-for="DataEnvioOrigem" class="form-control" />
			<span asp-validation-for="DataEnvioOrigem" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="TrackinCourier" class="control-label"></label>
			<input asp-for="TrackinCourier" class="form-control" />
			<span asp-validation-for="TrackinCourier" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="Courier" class="control-label"></label>
			<select asp-for="Courier" class="form-control" asp-items="Html.GetEnumSelectList<Courier>()">
				<option value="">Selecione o Courier:</option>
			</select>
			<span asp-validation-for="Courier" class="text-danger"></span>
		</div>
		<div class="form-group " align="center">
			<br />
			<input type="submit" value="Editar" asp-route-ProcessoId="@Model.ProcessoId" class="btn " style=" background-color: #F08433; color: #FFF; width: 100px" />
			<a asp-action="Details" asp-controller="Processos" asp-route-id="@Model.ProcessoId" class="btn btn-dark" style="width: 100px">Voltar</a>
		</div>
	</div>
</form>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
