@model kaufer_comex.Models.EmbarqueRodoviario

@{
	ViewData["Title"] = "Cadastrar Embarque";
}
<div class="container">
	@if (TempData["MensagemErro"] != null)
	{
		<div class="alert alert-danger" role="alert" align="center">
			@TempData["MensagemErro"]
		</div>
	}
	<div class="form-group " align="center">
		<h4>Cadastrar Embarque Rodoviário</h4>
	</div>
	<hr />
	<form asp-action="Create">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="row">
			<input type="hidden" id="ProcessoId" name="ProcessoId" value="@ViewData["ProcessoId"]" />
			<div class="form-group col-md-4">
				<label asp-for="Transportadora" class="control-label"></label>
				<input asp-for="Transportadora" class="form-control" />
				<span asp-validation-for="Transportadora" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="DataEmbarque" class="control-label"></label>
				<input asp-for="DataEmbarque" class="form-control" />
				<span asp-validation-for="DataEmbarque" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="TransitTime" class="control-label"></label>
				<input asp-for="TransitTime" class="form-control" />
				<span asp-validation-for="TransitTime" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="ChegadaDestino" class="control-label"></label>
				<input asp-for="ChegadaDestino" class="form-control" />
				<span asp-validation-for="ChegadaDestino" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="AgenteDeCargaId" class="control-label"></label>
				<select asp-for="AgenteDeCargaId" class="form-control" asp-items="ViewBag.AgenteDeCargaId">
					<option value="">Selecione o agente</option>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="Booking" class="control-label"></label>
				<input asp-for="Booking" class="form-control" />
				<span asp-validation-for="Booking" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="DeadlineVgm" class="control-label"></label>
				<input asp-for="DeadlineVgm" class="form-control" />
				<span asp-validation-for="DeadlineVgm" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="DeadlineCarga" class="control-label"></label>
				<input asp-for="DeadlineCarga" class="form-control" />
				<span asp-validation-for="DeadlineCarga" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="DeadlineDraft" class="control-label"></label>
				<input asp-for="DeadlineDraft" class="form-control" />
				<span asp-validation-for="DeadlineDraft" class="text-danger"></span>
			</div>
			<div class="form-group " align="center">
				<br />
				<input type="submit" value="Cadastrar" class="btn " style=" background-color: #F08433; color: #FFF; width: 100px" />
				<a asp-action="Details" asp-controller="Processos" asp-route-id="@ViewContext.RouteData.Values["id"]" class="btn btn-dark" style="width: 100px">Voltar</a>
			</div>
		</div>
	</form>

</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
<script>
	window.onload = function () {
		var firstInput = document.querySelector("input");
		if (firstInput) {
			firstInput.focus();
		}
	};
</script>