@model kaufer_comex.Models.EmbarqueRodoviario

@{
	ViewData["Title"] = "Editar Embarque";
}
<div class="container">
	<h4>Editar Embarque Rodoviário</h4>
	<hr />
	<form asp-action="Edit">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="row">
			<input type="hidden" asp-for="ProcessoId" />
			<input type="hidden" asp-for="Id" />
			<div class="col-md-4">
				<label asp-for="Transportadora" class="control-label"></label>
				<input asp-for="Transportadora" class="form-control" />
				<span asp-validation-for="Transportadora" class="text-danger"></span>
			</div>
			<div class="col-md-4">
				<label asp-for="DataEmbarque" class="control-label"></label>
				<input asp-for="DataEmbarque" class="form-control" />
				<span asp-validation-for="DataEmbarque" class="text-danger"></span>
			</div>
			<div class="col-md-4">
				<label asp-for="TransitTime" class="control-label"></label>
				<input asp-for="TransitTime" class="form-control" />
				<span asp-validation-for="TransitTime" class="text-danger"></span>
			</div>
			<div class="col-md-4">
				<label asp-for="ChegadaDestino" class="control-label"></label>
				<input asp-for="ChegadaDestino" class="form-control" />
				<span asp-validation-for="ChegadaDestino" class="text-danger"></span>
			</div>
			<div class="col-md-4">
				<label asp-for="AgenteDeCargaId" class="control-label"></label>
				<select asp-for="AgenteDeCargaId" class="form-control" asp-items="ViewBag.AgenteDeCargaId">
					<option value="">Selecione o agente</option>
				</select>
				<span asp-validation-for="AgenteDeCargaId" class="text-danger"></span>
			</div>
			<div class="form-group " align="center">
				<br />
				<input type="submit" value="Editar" asp-route-ProcessoId="@Model.ProcessoId" class="btn " style=" background-color: #F08433; color: #FFF; width: 100px" />
				<a asp-action="Index" asp-route-id="@Model.ProcessoId" class="btn btn-dark" style="width: 100px">Voltar</a>
			</div>
		</div>
	</form>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
