@model kaufer_comex.Models.Destino

@{
	ViewData["Title"] = "Excluir";
}

<div>
	@if (TempData["MensagemErro"] != null)
	{
		<div class="alert alert-danger" role="alert" align="center">
			@TempData["MensagemErro"]
		</div>
	}
	<h4>Você tem certeza que deseja excluir o Destino:  @Html.DisplayFor(model => model.NomePais) ?</h4>
	<hr />
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <span class="mt-1"><strong>DESTINO</strong> </span>
            <div class="justify-content-sm-end d-flex m-0">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Excluir" class="btn " style=" background-color: #82323b; color: #FFF; width: 100px" />
                    <a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
                </form>
            </div>
        </div>
        <dl class="card-body row">
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.NomePais)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NomePais)
                </dd>
            </div>
        </dl>
    </div>
</div>
