@model kaufer_comex.Models.Destino

@{
    ViewData["Title"] = "Detalhes";
}



<div>
    <br />
    <h3>Detalhes do Destino: @Html.DisplayFor(model => model.NomePais)</h3>
    <hr />
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePais)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn " style=" background-color: #F08433; color: #FFF; width: 100px">Editar</a> |
    <a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
</div>
