@model kaufer_comex.Models.Destino

@{
    ViewData["Title"] = "Editar Destino";
}

<div class="container">
    <br />
    <h4>Editar Destino</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NomePais" class="control-label"></label>
                    <input asp-for="NomePais" class="form-control" />
                    <span asp-validation-for="NomePais" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <br />
                    <input type="submit" value="Cadastrar" class="btn btn-secondary" />
                    <a asp-action="Index" class="btn btn-info">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
