@model kaufer_comex.Models.Usuario

@{
    ViewData["Title"] = "ForgotPassword";
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<section class="h-100 gradient-form" style="background-color: #fff; color: #fff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-6">
                <div class="card rounded-3 text-black" style="background-color: #D3D3D3;">
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="~/Images/Logo.png" style="width: 185px;" alt="logo">
                                </div>

                                @if (TempData["SuccessMessage"] != null)
                                {
                                    <div class="alert alert-success">
                                        @TempData["SuccessMessage"]
                                    </div>
                                }

                                <form asp-action="ForgotPassword" class="needs-validation" novalidate>
                                    <h5>Recupere sua senha</h5>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input asp-for="Email" id="form2Example11" class="form-control" placeholder="E-mail" required />
                                        <label class="form-label" for="form2Example11"></label>
                                        <div class="invalid-feedback">Campo obrigatório</div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input id="cpf" type="text" class="form-control" name="CPF" placeholder="CPF">
                                        <label class="form-label" for="form2Example22"></label>
                                        <div class="invalid-feedback">Campo obrigatório</div>
                                        <span asp-validation-for="CPF" class="text-danger"></span>
                                    </div>



                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-block gradient-custom-2 mb-3"
                                                type="submit" style="background-color: #562e64; color: #fff">
                                            Enviar
                                        </button>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Lembrou sua senha?</p>
                                        <a asp-controller="Usuarios" asp-action="Login">Faça login aqui</a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.onload = function () {
        var firstInput = document.querySelector("input");
        if (firstInput) {
            firstInput.focus();
        }
    };
</script>
