@model kaufer_comex.Models.Status

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar Novo Status</h1>

<h4>Status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StatusAtual" class="control-label"></label>
                <input asp-for="StatusAtual" class="form-control" />
                <span asp-validation-for="StatusAtual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-success" />
                <a asp-action="Index" clas="btn btn-info">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
