@model kaufer_comex.Models.Status

@{
    ViewData["Title"] = "Details";
}

<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <span class="mt-1"><strong>STATUS</strong> </span>
        <div class="justify-content-sm-end d-flex m-0">
            <a asp-action="Edit" asp-controller="Status" asp-route-id="@Model.Id" class="btn" style=" background-color: #F08433; color: #FFF; margin-right: 10px">Editar</a>
            <a asp-action="Index" asp-controller="Status" asp-route-id="@Model.Id" class="btn btn-outline-dark">Voltar</a>
        </div>
    </div>
    <dl class="card-body row">
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.StatusAtual)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.StatusAtual)
        </dd>
    </dl>
</div>