@model kaufer_comex.Models.Processo

@{
    ViewData["Title"] = "Editar Processo";
}

<div class="container">
    <br />
    <div class="form-group " align="center">
    <h4>Editar Processo</h4>
    </div>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="CodProcessoExportacao" class="control-label"></label>
                <input asp-for="CodProcessoExportacao" class="form-control" />
                <span asp-validation-for="CodProcessoExportacao" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="Modal" class="control-label"></label>
                <select asp-for="Modal" class="form-control" asp-items="Html.GetEnumSelectList<Modal>()">
                    <option value="">Selecione modal</option>
                </select>
                <span asp-validation-for="Modal" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Incoterm" class="control-label"></label>
                <select asp-for="Incoterm" class="form-control" asp-items="Html.GetEnumSelectList<Incoterm>()">
                    <option value="">Selecione o Incoterm</option>
                </select>
                <span asp-validation-for="Incoterm" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.Usuario">
                    <option value="">Selecione o responsável</option>
                </select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ExportadorId" class="control-label"></label>
                <select asp-for="ExportadorId" class="form-control" asp-items="ViewBag.Exportador">
                    <option value="">Selecione o exportador</option>
                </select>
                <span asp-validation-for="ExportadorId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ImportadorId" class="control-label"></label>
                <select asp-for="ImportadorId" class="form-control" asp-items="ViewBag.Importador">
                    <option value="">Selecione o importador</option>
                </select>
                <span asp-validation-for="ImportadorId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="DestinoId" class="control-label"></label>
                <select asp-for="DestinoId" class="form-control" asp-items="ViewBag.DestinoId">
                    <option value="">Selecione o destino</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="FronteiraId" class="control-label"></label>
                <select asp-for="FronteiraId" class="form-control" asp-items="ViewBag.FronteiraId">
                    <option value="">Selecione a fronteira</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="DespachanteId" class="control-label"></label>
                <select asp-for="DespachanteId" class="form-control" asp-items="ViewBag.DespachanteId">
                    <option value="">Selecione o despachante</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="VendedorId" class="control-label"></label>
                <select asp-for="VendedorId" class="form-control" asp-items="ViewBag.VendedorId">
                    <option value="">Selecione o vendedor</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId">
                    <option value="">Selecione o Status</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Proforma" class="control-label"></label>
                <input asp-for="Proforma" class="form-control" />
                <span asp-validation-for="Proforma" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="DataInicioProcesso" class="control-label"></label>
                <input asp-for="DataInicioProcesso" class="form-control" />
                <span asp-validation-for="DataInicioProcesso" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="PrevisaoProducao" class="control-label"></label>
                <input asp-for="PrevisaoProducao" class="form-control" />
                <span asp-validation-for="PrevisaoProducao" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="PrevisaoPagamento" class="control-label"></label>
                <input asp-for="PrevisaoPagamento" class="form-control" />
                <span asp-validation-for="PrevisaoPagamento" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="PrevisaoColeta" class="control-label"></label>
                <input asp-for="PrevisaoColeta" class="form-control" />
                <span asp-validation-for="PrevisaoColeta" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="PrevisaoCruze" class="control-label"></label>
                <input asp-for="PrevisaoCruze" class="form-control" />
                <span asp-validation-for="PrevisaoCruze" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="PrevisaoEntrega" class="control-label"></label>
                <input asp-for="PrevisaoEntrega" class="form-control" />
                <span asp-validation-for="PrevisaoEntrega" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="PedidosRelacionados" class="control-label"></label>
                <input asp-for="PedidosRelacionados" class="form-control" />
                <span asp-validation-for="PedidosRelacionados" class="text-danger"></span>
            </div>

            <div class="form-group " align="center">
                <br />
                <input type="submit" value="Editar" class="btn " style=" background-color:#F08433; color: #FFF; width: 100px" />
                <a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
            </div>
        </div>
    </form>
</div>


<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
