@model kaufer_comex.Models.Veiculo

@{
    ViewData["Title"] = "Detalhes do Veículo";
}

<br />
<h3> Motorista do Veículo: @Html.DisplayFor(model => model.Motorista)</h3>
<hr />


<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <span class="mt-1">Informações do Veículo</span>
    </div>
    <dl class="card-body row">     
        <div class="col-md-4">
            <dt>Placa do Veículo:</dt>
            <dd>@Html.DisplayFor(model => model.Placa)</dd>
        </div>
        <div class="col-md-4">
            <dt>Motorista:</dt>
            <dd>@Html.DisplayFor(model => model.Motorista)</dd>
        </div>
    </dl>
</div>
<div class="form-group " align="center">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn " style=" background-color: #F08433; color: #FFF; width: 100px">Editar</a> |
    <a asp-action="Details" asp-controller="Processos" asp-route-id="@Model.ProcessoId" class="btn btn-dark" style="width: 100px">Voltar</a>
</div>

