@model kaufer_comex.Models.AgenteDeCarga

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar Agente de Carga </h1>

<h4>Agente De Carga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeAgenteCarga" class="control-label"></label>
                <input asp-for="NomeAgenteCarga" class="form-control" />
                <span asp-validation-for="NomeAgenteCarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-info" >Voltar</a>
                <input type="submit" value="Adicionar" class="btn btn-success" />
                
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
