@model kaufer_comex.Models.AgenteDeCarga

@{
    ViewData["Title"] = "Details";
}

<h1>Dados do Agente de Carga </h1>

<div>
    <h4>AgenteDeCarga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAgenteCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAgenteCarga)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Voltar</a> |
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Editar</a> 
    
</div>
